* {
  text-align: center;
  font-size: 8px;
}

.sub1 {
  width: 25px;
  background-color: rgb(42, 197, 197);
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px 2px black;
  border-radius: 10px;
}
.sub2 {
  width: 25px;
  background-color: darkslateblue;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid red;
  padding: 10px;
  color: white;
  box-shadow: 2px 2px 5px 2px black;
  visibility: hidden;
  border-radius: 10px;
}
.sub3 {
  width: 25px;
  background-color: darkslateblue;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid red;
  padding: 20px;
  color: white;
  box-shadow: 2px 2px 5px 2px black;
  visibility: hidden;
  border-radius: 10px;
}

.main {
  background-color: lightcyan;
  border: 5px solid red;
  margin: 20px;
  padding: 20px;
  margin-left: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px black;
  width: 1230px;
  position: relative;
  left: 40px;
}

.first {
  display: flex;
  text-align: center;
  
}
.second {
  display: flex;
}

img{
  width: 10%;
}

h1{
  font-size: 20px;
}

/* #c1{
  background-color: #f18787;
} */